<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="~{commonHead}"/>
<body>
<div class="d-flex" id="wrapper">
    <div th:include="~{menuBar}"/>
    <div id="page-content-wrapper">
        <div th:include="~{navigation}"/>
        <div id="errorImage">
            <div class="text-center m-auto">
                <h3 style="color: red;">O_ops! Something goes wrong &#9785;</h3>
                <img src="/img/empty_result.jpg">
            </div>
        </div>
    </div>

</div>
</body>
</html>